@import "tailwindcss";

:root {
  /* Color Vars */
  --background: rgb(34, 34, 34);
  --foreground: black;
  --highlight: rgb(49, 49, 49);
  --mainText: white;

  --locationBgColor: rgba(34, 34, 34, 80%);

  --filterHighlight: gray;
  --filterItemBg: #303030;
  --filterItemHighlight: #3d3d3d;

  --dropshadow-color: black;
  --bg-dot-col: black;

  --bg-accent-col1: blue;
  --bg-accent-col2: rgb(255, 30, 68);

  /* Spacing & Misc. Vars */
  --row1-height: 3.3rem;
  --row3-height: 40%;

  --row1-min-height: 3.3rem;
  --row2-min-height: 23rem;
  --row3-min-height: 24rem;

  --total-min-height: 50.3rem;

  --transition-time-slow: 500ms;
  --transition-time-quick: 50ms;

  --nav_btn_width_height: 2.5rem;
  --nav_search_btn_height: 2rem;
 
  /* rem */
  font-size: 15px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(34, 34, 34);
    --highlight: rgb(49, 49, 49);
    --foreground: black;
    --mainText: white;
    --locationBgColor: rgba(34, 34, 34, 80%);

    --filterHighlight: gray;
    --filterItemBg: #303030;
    --filterItemHighlight: #3d3d3d;
  }
} */

.siteCont{
  height: max-content;
  width: 100vw;
}

.mainContainer{
  display: grid;
  grid-template: var(--row1-height) auto var(--row3-height) / auto;

  position: absolute;
  z-index: 0;
 
  width: 100%;
  height: 100%;

  transition: grid-template var(--transition-time-slow);
}

.mainContainer:has(> .bgRadContainer:hover){
  grid-template: 3.3rem auto 42% / auto;
}

.navContainer{
  grid-area: 1 / 1 / 1 / 1;

  min-height: var(--row1-min-height);

  background-color: var(--background);

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
}

.navFlx1, .navFlx2, .navFlx3{
  display: flex;
  align-items: center;

  margin: 0px;
  height: 100%;
}

.navFlx1, .navFlx3{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 3rem;
  justify-content: center;
}

.navFlx2{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.infoBtn, .menuBtn{
  border: 0.5rem;
  border-radius: var(--radius-2xl);
  border-style: solid;
  border-color: var(--background);
  

  margin: 0px;
  width: var(--nav_btn_width_height);
  height: var(--nav_btn_width_height);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: 
    background-color var(--transition-time-quick),
    border-color var(--transition-time-quick)
  ;
}

.infoBtn{
  background-image: url(./i_icon_black.png);
}

.menuBtn{
  background-image: url(./hb_icon_black.png);
}

.infoBtn:hover, .menuBtn:hover{
  cursor: pointer;
  background-color: var(--highlight);
  border-color: var(--highlight);
}

.searchBarBtn{ 
  border: 0.15rem solid var(--foreground);
  border-radius: var(--radius-xl);

  background-color: var(--foreground);
  color: var(--mainText);
  
  height: var(--nav_search_btn_height);
  padding-left: 0.5rem;

  transition: filter 50ms;
}

.searchBarBtn:hover{
  cursor: text;
  filter: drop-shadow(0 0 0.3rem var(--filterHighlight));
}

.searchBarBtn:focus{
  outline: none;
}

.animatedGradient{
  grid-area: 2 / 1 / 2 / 1;
  min-height: var(--row2-min-height);

  background: linear-gradient(45deg, var(--bg-grad-col-1), var(--bg-grad-col-2));
  animation: changingGrad 10s ease-in-out infinite;
}

@property --bg-grad-col-1{
  syntax: "<color>";
  inherits: true;
  initial-value: blue;
}

@property --bg-grad-col-2{
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 30, 68); 
}

@keyframes changingGrad{
  50%{
    --bg-grad-col-1: purple;
    --bg-grad-col-2: yellow;
  }
  100%{
    --bg-grad-col-1: blue;
    --bg-grad-col-2: rgb(255, 30, 68);
  }
} 

.locationInfoContainer{
  grid-area: 2 / 1 / 2 / 1;
  min-height: var(--row2-min-height);
  z-index: 1;

  background-image: radial-gradient(circle at center, var(--bg-dot-col) 1px, transparent 1px);
  background-size: 20px 20px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
 
.bgRadContainer, .bgRadSubContainer, .locationInfoSubContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.locationInfoSubContainer{
  border-radius: var(--radius-3xl);

  color: var(--mainText);
  background-color: var(--locationBgColor);

  width: 90%;
  height: 50%;
  max-width: 50rem;

  text-align: center;
  
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
}

.locationName{
  font-size: 5rem;
  font-weight: 600;
}

.locationSubNat{
  font-size: 2rem;
  font-weight: 500;
  font-style: italic; 
}

.bgRadContainer{
  grid-area: 3 / 1 / 3 / 1;
  min-height: var(--row3-min-height);

  background-color: var(--background);
  
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
} 

.bgRadSubContainer{
  filter: drop-shadow(0 0.5rem 0.5rem var(--dropshadow-color));
  
  width: 90%;
  height: 80%;
  padding: 0.8rem;
  
  color: var(--mainText);
  text-align: center;

  background: linear-gradient(45deg, var(--grad-col-2), var(--grad-col-1));
  border-radius: var(--radius-2xl);

  transition: 
    --grad-col-1 var(--transition-time-slow), 
    --grad-col-2 var(--transition-time-slow), 
    width var(--transition-time-slow), 
    height var(--transition-time-slow),
    --rad-figure-size var(--transition-time-slow),
    --rad-unit-size var(--transition-time-slow),
    --rad-title-size var(--transition-time-slow)
  ;
}

.bgRadSubContainer:hover{
  --grad-col-2: rgb(44, 44, 44);
  --grad-col-1: rgb(29, 29, 29);
}

@property --grad-col-1{
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(44, 44, 44);
}

@property --grad-col-2{
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(29, 29, 29);  
}

.bgRadSubContainer:has(> .bgRadContainer:hover){
  width: 92%; 
  height: 82%;
}

.radFig:has(> .bgRadContainer:hover){
  font-size: 5.1rem;
}

.radContTitle:has(> .bgRadContainer:hover){
  font-size: 2.6rem;
}

.radUnit:has(> .bgRadContainer:hover){
  font-size: 4.6rem;
}

.radFigCont{
  display: inline-flex;
  align-items: baseline;
}

.radContTitle, .radFig, .radUnit{
  font-style: italic;
  transition: font-size var(--transition-time-slow);
}

.radContTitle{
  font-size: 2.5rem;
  font-weight: 700;
}

.radFig{
  font-weight: 700;
  font-size: 5rem;
}

.radUnit{
  font-weight: 600;
  font-size: 4.5rem;
}

.filterContainer{
  display: grid;
  grid-template: 8% 2% 90% / auto; 
  z-index: 3;
  position: absolute;

  height: 100%;
  width: 20%;

  background-color: var(--background);

  filter: drop-shadow(0 0 0.3rem var(--dropshadow-color));
  transition: translate var(--transition-time-slow) ease-in-out;
}

.filterSearchBarCont{
  grid-area: 1 / 1 / 1 / 1;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
}

.filterSearchBar{
  border-radius: var(--radius-2xl);
  
  color: var(--mainText);
  background-color: var(--foreground);

  font-size: 1.3rem;

  width: 90%;
  height: 3rem;
  padding-left: 0.9rem;

  transition: filter 50ms;
}

.filterSearchBar:hover{
  filter: drop-shadow(0 0 0.3rem var(--filterHighlight));
}

.filterSearchBar:focus{
  border: none;
  outline: none;
}

.divLine{
  grid-area: 2 / 1 / 2 / 1;
  justify-self: center;
  width: 85%;
  color: var(--filterHighlight);
}

.resultGrid{
  grid-area: 3 / 1 / 3 / 1;
  
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 3rem;
  gap: .6rem;
  justify-items: center;
  white-space: nowrap;

  background-color: var(--background);
}

.reusltItemCont{
  display: flex;
  flex-flow: row nowrap; 
  align-items: center;

  width: 89%;

  background-color: var(--filterItemBg);
  color: var(--mainText);
  
  border-radius: var(--radius-lg);
  
  filter: drop-shadow(0 0 0.3rem var(--dropshadow-color));
  transition: background-color 25ms ease-in-out;
}

.reusltItemCont:hover{
  background-color: var(--filterItemHighlight);
  cursor: pointer;
}

.resultName{
  font-size: 1.3rem;
  font-weight: 500;

  width: fit-content;
  height: fit-content;
  margin-left: 0.5rem;
} 

.resultLocation{
  width: fit-content;
  height: fit-content;
  margin-left: 0.3rem;

  font-size: 0.9rem;
  vertical-align: bottom;
}

.blackOutDiv{
  position: absolute;
  z-index: 2;

  height: 100%;
  width: 100%;
  
  background-color: black;

  transition: 
    opacity var(--transition-time-slow) ease-in-out
  ;
}

#map {
  height: 80%;
  width: 40%;
  z-index: 5;
  border: 1px solid black;
}


@media(max-width: 800px){
  .locationInfoContainer{
    background-position: -15rem -8rem;
  }
}

@media(max-height: 1920px) and (max-width: 1080px){
  :root{
    --row1-height: 3.3rem;
    --row3-height: 55%;
    --row1-min-height: 3.3rem;
    --row2-min-height: 18rem;
    --row3-min-height: 24rem;

    --total-min-height: 60rem;

    font-size: 12px;
  }

  .bgRadSubContainer:has(> .bgRadContainer:hover){
    width: 92%; 
    height: 75%;
  }

  .radFig:has(> .bgRadContainer:hover){
    font-size: 5.1rem;
  }

  .radContTitle:has(> .bgRadContainer:hover){
    font-size: 2.6rem;
  }

  .radUnit:has(> .bgRadContainer:hover){
    font-size: 4.6rem;
  }

  .mainContainer:has(> .bgRadContainer:hover){
    grid-template: 3.3rem auto 57% / auto;
  }

  .locationName{
    font-size: 3.5rem;
    font-weight: 550;
  }

  .locationSubNat{
    font-size: 1.5rem;
  }

  .radContTitle{
    font-size: 2rem;
  }

  .filterContainer{
    width: 80%;
  }
}
