@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.mainContainer{
  display: grid;
  grid-template: 3.3rem auto 40% / auto;
  height: 100vh;
}

.navContainer{
  grid-area: 1 / 1 / 1 / 1;
  background-color: #171717;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.navFlx1, .navFlx2, .navFlx3{
  display: flex;
  margin: 0px;
  height: 100%;
  align-items: center;
}

.navFlx1, .navFlx3{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 3rem;
  justify-content: center;
}

.navFlx2{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.infoBtn, .menuBtn{
  border: 0.5rem;
  border-style: none;
  border-color: #222222;  
  border-radius: var(--radius-2xl);
  margin: 0px;
  width: 1.8rem;
  height: 1.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.infoBtn:hover, .menuBtn:hover{
  transition: all 0.04s ease-in-out;
  background-color: #222222;
  border-style: solid;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}


.searchBarBtn{ 
  border: 0.15rem solid black;
  background-color: black;
  border-radius: var(--radius-xl);
  color: white;
  height: 2rem;
  padding-left: 0.5rem;
}

.infoBtn{
  background-image: url(./i_icon_black.png);
}

.menuBtn{
  background-image: url(./hb_icon_black.png);
}

.locationInfoContainer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.locationInfoContainer{
  grid-area: 2 / 1 / 2 / 1;
  background-color: #000000;

  background-image: url(./map.jpg);
  background-repeat: no-repeat;
  /* background-size: 125%; */
  background-position: 30% 40%;
}
 
.bgRadContainer, .bgRadSubContainer, .locationInfoSubContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.locationInfoSubContainer{
  border-radius: var(--radius-3xl);
  width: 90%;
  height: 50%;
  max-width: 50rem;
  background-color: rgba(34, 34, 34, 95%);
  color: white;
  text-align: center;
}

.locationName, .locationSubNat{
  padding: 0px;
  margin: 0px;
  opacity: 100%;
} 

.locationName{
  font-size: 5rem;
  font-weight: 600;
}

.locationSubNat{
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

.bgRadContainer{
  grid-area: 3 / 1 / 3 / 1;
  background-color: rgb(34, 34, 34);
} 

.bgRadSubContainer{
  width: 90%;
  height: 80%;
  border-radius: var(--radius-2xl);
  color: white;
  text-align: center;
  background: linear-gradient(45deg, black, rgb(44, 44, 44));
}

.radFigCont{
  display: inline-flex;
  align-items: baseline;
}

.radContTitle, .radFig, .radUnit{
  font-style: italic;
}

.radContTitle{
  font-size: 2.5rem;
  font-weight: 700;
  font-style: italic;
}

.radFig{
  font-weight: 700;
  font-size: 5rem;
}

.radUnit{
  font-weight: 600;
  font-size: 4.5rem;
}
