@import "tailwindcss";

:root {
  /* Spacing & Misc. Vars */
  --row1-height: 3.3rem;
  --row3-height: 40%;

  --row1-min-height: 3.3rem;
  --row2-min-height: 23rem;
  --row3-min-height: 24rem;

  --total-min-height: 50.3rem;

  --transition-time-slow: 500ms;
  --transition-time-quick: 50ms;

  --nav_btn_width_height: 2.5rem;
  --nav_search_btn_height: 2rem;
 
  /* rem */
  font-size: 15px;
}

[data-dkset="false"]{
  /* Color Vars */
  --background: rgb(255, 255, 255);
  --foreground: rgb(228, 228, 228);
  --highlight: rgb(202, 202, 202);
  --mainText: rgb(0, 0, 0);

  --locationBgColor: rgba(255, 255, 255, 0.8);

  --filterHighlight: rgb(182, 182, 182);
  --filterItemBg: #ffffff;
  --filterItemHighlight: #d6d6d6;

  --dropshadow-color: black;
  --bg-dot-col: rgb(255, 255, 255);

  --grad-col-1-alt: rgb(211, 211, 211);
  --grad-col-2-alt: white;
}

[data-dkset="true"]{
  /* Color Vars */
  --background: rgb(34, 34, 34);
  --foreground: black;
  --highlight: rgb(49, 49, 49);
  --mainText: white;

  --locationBgColor: rgba(34, 34, 34, 80%);

  --filterHighlight: gray;
  --filterItemBg: #303030;
  --filterItemHighlight: #3d3d3d;

  --dropshadow-color: black;
  --bg-dot-col: black;

  --grad-col-1-alt: rgb(29, 29, 29);
  --grad-col-2-alt: rgb(44, 44, 44);
}

.infoCont{
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;

  width: 70%;
  height: 50%;
  min-width: fit-content;
  min-height: fit-content;
  padding: 2rem;

  color: var(--mainText);
  background-color: var(--background);

  border-radius: var(--radius-2xl);
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
}

.dkModeTogleCont{
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.link{
  color: #2196F3;
}
.link:hover{
  color: #17619e;
}

.infoHeading{
  font-size: 1.5rem;
  font-weight: 600;
}

.infoSubHeading{
  font-size: 1.3rem;
  font-style: italic;
}

.infoCont div{
  margin-bottom: 1rem;
}

.infoCont ul{
  list-style-type: circle;
  margin-left: 2rem;
}

.switch {
  position: relative;
  display: inline-block;

  margin-left: 1rem;

  width: 4rem;
  height: 2.3rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  cursor: pointer;
  background-color: #ccc;
  
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  left: 0.2rem;
  bottom: 0.25rem;

  height: 1.8rem;
  width: 1.8rem;
  content: "";

  background-color: var(--background);

  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.8rem);
  -ms-transform: translateX(1.8rem);
  transform: translateX(1.8rem);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.siteCont{
  height: max-content;
  width: 100vw;
  min-width: fit-content;
  min-height: fit-content;

  background-color: var(--background);
}

.mainContainer{
  display: grid;
  grid-template: var(--row1-height) auto var(--row3-height) / auto;

  position: absolute;
  z-index: 0;
 
  width: 100%;
  height: 100%;

  transition: grid-template var(--transition-time-slow);
}

.mainContainer:has(> .bgRadContainer:hover){
  grid-template: 3.3rem auto 42% / auto;
}

.navContainer{
  grid-area: 1 / 1 / 1 / 1;

  min-height: var(--row1-min-height);

  background-color: var(--background);

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
}

.navFlx1, .navFlx2, .navFlx3{
  display: flex;
  align-items: center;

  margin: 0px;
  height: 100%;
}

.navFlx1, .navFlx3{
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 3rem;
  justify-content: center;
}

.navFlx2{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.infoBtn, .menuBtn{
  border: 0.5rem;
  border-radius: var(--radius-2xl);
  border-style: solid;
  border-color: var(--background);
  

  margin: 0px;
  width: var(--nav_btn_width_height);
  height: var(--nav_btn_width_height);

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  transition: 
    background-color var(--transition-time-quick),
    border-color var(--transition-time-quick)
  ;
}

.infoBtn{
  background-image: url(./i_icon_black.png);
}

.menuBtn{
  background-image: url(./hb_icon_black.png);
}

.infoBtn:hover, .menuBtn:hover{
  cursor: pointer;
  background-color: var(--highlight);
  border-color: var(--highlight);
}

.searchBarBtn{ 
  border: 0.15rem solid var(--foreground);
  border-radius: var(--radius-xl);

  background-color: var(--foreground);
  color: var(--mainText);
  
  height: var(--nav_search_btn_height);
  padding-left: 0.5rem;

  transition: filter 50ms;
}

.searchBarBtn:hover{
  cursor: text;
  filter: drop-shadow(0 0 0.3rem var(--filterHighlight));
}

.searchBarBtn:focus{
  outline: none;
}

.animatedGradient{
  grid-area: 2 / 1 / 2 / 1;
  min-height: var(--row2-min-height);

  background: linear-gradient(45deg, var(--bg-grad-col-1), var(--bg-grad-col-2));
  animation: changingGrad 15s ease-in-out infinite;
}

@property --bg-grad-col-1{
  syntax: "<color>";
  inherits: true;
  initial-value: blue;
}

@property --bg-grad-col-2{
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(255, 30, 68); 
}

@keyframes changingGrad{
  34%{
    --bg-grad-col-1: purple;
    --bg-grad-col-2: yellow;
  }
  66%{
    --bg-grad-col-1: rgb(255, 0, 212);
    --bg-grad-col-2: rgb(0, 255, 213);
  }
  100%{
    --bg-grad-col-1: blue;
    --bg-grad-col-2: rgb(255, 30, 68);
  }
} 

.locationInfoContainer{
  grid-area: 2 / 1 / 2 / 1;
  min-height: var(--row2-min-height);
  z-index: 1;

  background-image: radial-gradient(circle at center, var(--bg-dot-col) 1px, transparent 1px);
  background-size: 20px 20px;
  
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;

  overflow: hidden;
}
 
.bgRadContainer, .bgRadSubContainer, .locationInfoSubContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.locationInfoSubContainer{
  border-radius: var(--radius-3xl);

  color: var(--mainText);
  background-color: var(--locationBgColor);

  width: 90%;
  height: 50%;
  max-width: 50rem;

  text-align: center;
  
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
}

.locationName{
  font-size: 5rem;
  font-weight: 600;
}

.locationSubNat{
  font-size: 2rem;
  font-weight: 500;
  font-style: italic; 
}

.bgRadContainer{
  grid-area: 3 / 1 / 3 / 1;
  min-height: var(--row3-min-height);

  background-color: var(--background);
  
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
} 

.bgRadSubContainer{
  filter: drop-shadow(0 0.5rem 0.5rem var(--dropshadow-color));
  
  width: 90%;
  height: 80%;
  padding: 0.8rem;
  
  color: var(--mainText);
  text-align: center;

  background: linear-gradient(45deg, var(--grad-col-1-alt), var(--grad-col-2-alt));
  border-radius: var(--radius-2xl);

  transition: 
    --grad-col-1 var(--transition-time-slow), 
    --grad-col-2 var(--transition-time-slow), 
    width var(--transition-time-slow), 
    height var(--transition-time-slow),
    --rad-figure-size var(--transition-time-slow),
    --rad-unit-size var(--transition-time-slow),
    --rad-title-size var(--transition-time-slow)
  ;
}

.bgRadSubContainer:has(> .bgRadContainer:hover){
  width: 92%; 
  height: 82%;
}

.radFig:has(> .bgRadContainer:hover){
  font-size: 5.1rem;
}

.radContTitle:has(> .bgRadContainer:hover){
  font-size: 2.6rem;
}

.radUnit:has(> .bgRadContainer:hover){
  font-size: 4.6rem;
}

.scaleCont{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
}

.scaleCont p{
  font-size: 1.3rem;
  margin: 0px 0.3rem;
  filter: drop-shadow(0 0 0.3rem var(--dropshadow-color));
}

.radScale{
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  outline: none; 
  width: 90%; 
}

.radScale::-webkit-slider-runnable-track {
  height: 1rem;
  border-radius: 0.3rem;
  background: linear-gradient(90deg, rgb(0, 125, 141), rgb(136, 0, 0));
  filter: drop-shadow(0 0 0.3rem var(--dropshadow-color));
}

/* WebKit Thumb */
.radScale::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  width: 0.9rem;
  height: 0.9rem;
  margin-top: 0.07rem; 

  background: white; 
  border-radius: 50%;
  filter: drop-shadow(0 0 0.3rem var(--dropshadow-color));
}

.radFigCont{
  display: inline-flex;
  align-items: baseline;
}

.radContTitle, .radFig, .radUnit{
  font-style: italic;
  transition: font-size var(--transition-time-slow);
}

.radContTitle{
  font-size: 2.5rem;
  font-weight: 700;
}

.radFig{
  font-weight: 700;
  font-size: 5rem;
}

.radUnit{
  font-weight: 600;
  font-size: 4.5rem;
}

.filterContainer{
  display: grid;
  grid-template: 8% 2% 90% / auto; 
  z-index: 3;
  position: absolute;

  height: 100%;
  width: 30rem;

  background-color: var(--background);

  filter: drop-shadow(0 0 0.3rem var(--dropshadow-color));
  transition: translate var(--transition-time-slow) ease-in-out;
}

.filterSearchBarCont{
  grid-area: 1 / 1 / 1 / 1;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background-color: var(--background);
}

.filterSearchBar{
  border-radius: var(--radius-2xl);
  
  color: var(--mainText);
  background-color: var(--foreground);

  font-size: 1.3rem;

  width: 90%;
  height: 3rem;
  padding-left: 0.9rem;

  transition: filter 50ms;
}

.filterSearchBar:hover{
  filter: drop-shadow(0 0 0.3rem var(--filterHighlight));
}

.filterSearchBar:focus{
  border: none;
  outline: none;
}

.divLine{
  grid-area: 2 / 1 / 2 / 1;
  justify-self: center;
  width: 85%;
  color: var(--filterHighlight);
}

.resultGrid{
  grid-area: 3 / 1 / 3 / 1;
  
  display: grid;
  grid-template-columns: auto;
  grid-auto-rows: 3rem;
  gap: .6rem;
  justify-items: center;
  white-space: nowrap;

  color: var(--mainText);

  background-color: var(--background);
}

.reusltItemCont{
  display: flex;
  flex-flow: row nowrap; 
  align-items: center;

  width: 89%;

  background-color: var(--filterItemBg);
  color: var(--mainText);
  
  border-radius: var(--radius-lg);
  
  filter: drop-shadow(0 0 0.3rem var(--dropshadow-color));
  transition: background-color 25ms ease-in-out;
}

.reusltItemCont:hover{
  background-color: var(--filterItemHighlight);
  cursor: pointer;
}

.resultName{
  font-size: 1.3rem;
  font-weight: 500;

  width: fit-content;
  height: fit-content;
  margin-left: 0.5rem;
} 

.resultLocation{
  width: fit-content;
  height: fit-content;
  margin-left: 0.3rem;

  font-size: 0.9rem;
  vertical-align: bottom;
}

.blackOutDiv{
  position: absolute;
  z-index: 2;

  height: 100%;
  width: 100%;
  
  background-color: black;

  transition: 
    opacity var(--transition-time-slow) ease-in-out
  ;
}

.map, .mapLoading {
  height: 80%;
  width: 40%;
  border-radius: var(--radius-2xl);
  filter: drop-shadow(0 0 0.75rem var(--dropshadow-color));
}

.mapLoading{
  color: var(--mainText);
  background-color: var(--background);

  border: 1px solid var(--background);

  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-width: 800px){
  .locationInfoContainer{
    background-position: -15rem -8rem;
  }
}

@media(max-height: 1920px) and (max-width: 1080px){
  :root{
    --row1-height: 3.3rem;
    --row3-height: 55%;
    --row1-min-height: 3.3rem;
    --row2-min-height: 18rem;
    --row3-min-height: 24rem;

    --total-min-height: 60rem;

    font-size: 12px;
  }

  .infoCont{
    width: 95%;
  }

  .map, .mapLoading{
    display: none;
  }

  .bgRadSubContainer:has(> .bgRadContainer:hover){
    width: 92%; 
    height: 75%;
  }

  .radFig:has(> .bgRadContainer:hover){
    font-size: 5.1rem;
  }

  .radContTitle:has(> .bgRadContainer:hover){
    font-size: 2.6rem;
  }

  .radUnit:has(> .bgRadContainer:hover){
    font-size: 4.6rem;
  }

  .mainContainer:has(> .bgRadContainer:hover){
    grid-template: 3.3rem auto 57% / auto;
  }

  .locationName{
    font-size: 3.5rem;
    font-weight: 550;
  }

  .locationSubNat{
    font-size: 1.5rem;
  }

  .radContTitle{
    font-size: 2rem;
  }

  .filterContainer{
    width: 80%;
  }
}
